<div>
    <p>Hello team,</p>

    <div>
        <strong>Summary of critical issues:</strong>
        <p>n/a</p>
    </div>
    <div>
        <strong>Done today:</strong>
        {% for ticket in doneTicketsList %}
            <p>
                <b>{{ loop.index }}. {{ ticket.ticketId }}</b> - {{ ticket.ticketName }}
                    (<a href="{{ ticket.ticketUrl }}">{{ ticket.ticketUrl }}</a>) - {{ ticket.timeSpent }}
            </p>
            <p>{{ ticket.comment|nl2br }}</p>
        {% endfor %}
    </div>
</div>